.App {
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

div.input-group: {
  position: relative;
  display: inline-block
}

.input-label {
  position: absolute;
  top: "7px";
  left: "17px";
}

.form-container: {
  position: relative;
  display: flex;
  flex-direction: column;
}

input: {
  display: block;
}

button.confirm:hover {
  cursos: "pointer";
}